body {
  background-color: rgb(84, 196, 19);

  font-family: sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
h2 {
  padding-left: 15px;
}
#menu {
  /*background-color: black;*/

  display: block;
  height: 200px;
  width: 200px;
  padding-top: 10px;
  position: static;
}

#about {
  /*background-color: white;*/
  display: inline-block;
  height: 260px;
  width: 500px;
  position: relative;
  left: 500px;
  bottom: 380px;
}
#menu2 {
  /*background-color: black;*/
  display: block;
  height: 150px;
  width: 200px;
}
div > p.welcome {
  font-weight: bold;
  font-size: 30px;
}
div .about-text {
  color: black;
}
div .about-des {
  color: black;
}
/* For widescreen display*/
@media only screen and (min-width: 920px) {
  body {
    color: blanchedalmond;
  }
}
/* tablets */
@media only screen and (max-width: 919px) {
  body {
    color: aqua;
  }
}
/* phones */
@media only screen and (max-width: 400px) {
  body {
    color: bisque;
  }
}
